<div class="header jarallax" id="home">
			<div class="container">
				<div class="banner-text text-center">
					<h2>Iam Umulkheir</h2>
					<h3> - web developer - </h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit interdum rutrum. </p>
					<div class="w3l-button banner-btn">
							<a href="#">Download CV</a>
					</div>
				</div>	
				<div class="w3-arrow bounce animated">
				<a href="#about" class="scroll"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
			</div>
			</div>
			
		</div>
		
	<div class="about" id="about">
		<div class="container">	
				<h3 class="w3l-heading">About me</h3>
			<div class="col-md-4 w3-about-top">
				<%= image_tag ("umu.png"), class: "img-responsive"%>
			</div>
			<div class="col-md-8 w3l-about">
					<div class="w3ls-heading">
						<h2>I'm a web designer / developer based in Nairobi, Kenya. I have a passion for web design and love to create for web and mobile devices.</h2>
					</div>
					<div class="w3ls-about-info">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit interdum rutrum. Cras tincidunt rhoncus turpis. Nulla elit nibh, vehicula vitae tortor a, fermentum euismod erat. Phasellus vel eros sed sem luctus fringilla sed eleifend eros. Sed et elementum lectus. Aenean ultrices pharetra vestibulum. Praesent a turpis sed nunc auctor vehicula id a sapien. Proin at nulla commodo, pretium enim et, fringilla elit.</p>
					</div>
					<div class="w3l-button">
						<a href="#" data-toggle="modal" data-target="#myModal">check out my profile</a>
					</div>
			</div>	
			<div class="clearfix"></div>
		</div>
		
	</div>
	<!-- modal -->
	<div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header"> 
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
						<h4 class="modal-title">Vitae</h4>
				</div> 
				<div class="modal-body">
					<div class="about"> 
						<div class="col-md-4 col-sm-4  col-xs-4 about-left ">
							<img src="images/3.jpg" class="img-responsive" alt=""/>
						</div>
						<div class="col-md-8 col-sm-8 col-xs-8 about-right wthree">
							<h3>Hi, i'm <span>John M. Rich </span></h3>
							<h4>Web Designer & Developer </h4>
							<ul class="address">
								<li>
									<ul class="agileits-address-text ">
										<li><b>D.O.B</b></li>
										<li>23-06-1980</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>PHONE </b></li>
										<li>+00 111 222 3333</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>ADDRESS </b></li>
										<li>756 global Place, North Sydney, Canada.</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>E-MAIL </b></li>
										<li><a href="mailto:example@mail.com"> mail@example.com</a></li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>WEBSITE </b></li>
										<li><a href="http://w3layouts.com">www.myresume.com</a></li>
									</ul>
								</li>
							</ul> 
						</div> 
						<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<!-- //modal -->
	<!-- Portfolio -->
       <div class="portfolio" id="port">
		       <div class="port-head">
							<h3 class="w3l-heading">portfolio</h3>
						</div>
            <ul class="simplefilter">
                <li class="active" data-filter="all">All</li>
                <li data-filter="1">Design1</li>
                <li data-filter="2">Design2</li>
                <li data-filter="3">Design3</li>
            </ul>
     
            <div class="filtr-container">
                <div class="  filtr-item gallery-t" data-category="1, 3" data-sort="Busy streets">
				 <a href="images/b.jpg" class="b-link-stripe b-animate-go  thickbox">
	
					<figure class="w3ls-gallery">
					 <img src="images/b.jpg" class="img-responsive" alt=" " />	<figcaption class="w3layouts-caption">
							<h3>my designs</h3>
							
						</figcaption>
					</figure>
				</a>
                </div>
				<div class=" filtr-item" data-category="1, 3" data-sort="City wonders">
                    <a href="images/d.jpg" class="b-link-stripe b-animate-go  thickbox">

					<figure class="w3ls-gallery">
					 <img src="images/d.jpg" class="img-responsive" alt=" " />	<figcaption class="w3layouts-caption">
							<h3>my designs</h3>
						
						</figcaption>
					</figure>
				</a>

                </div>
				<div class=" filtr-item" data-category="2" data-sort="Luminous night">
                   <a href="images/c.jpg" class="b-link-stripe b-animate-go  thickbox">

					<figure class="w3ls-gallery">
					 <img src="images/c.jpg" class="img-responsive" alt=" " />	<figcaption class="w3layouts-caption">
							<h3>my designs</h3>
							
						</figcaption>
					</figure>
				</a>
                </div>
                <div class="  filtr-item gallery-t" data-category="1, 3" data-sort="Busy streets">
				 <a href="images/b.jpg" class="b-link-stripe b-animate-go  thickbox">
	
					<figure class="w3ls-gallery">
					 <img src="images/b.jpg" class="img-responsive" alt=" " />	<figcaption class="w3layouts-caption">
							<h3>my designs</h3>
							
						</figcaption>
					</figure>
				</a>
                </div>
                <div class="  filtr-item" data-category="3" data-sort="In production">
                   <a href="images/e.jpg" class="b-link-stripe b-animate-go  thickbox">

					<figure class="w3ls-gallery">
					 <img src="images/e.jpg" class="img-responsive" alt=" " />	<figcaption class="w3layouts-caption">
							<h3>my designs</h3>
							
						</figcaption>
					</figure>
				</a>

                </div>
                <div class=" filtr-item" data-category="3, 2" data-sort="Industrial site">
                  <a href="images/g.jpg" class="b-link-stripe b-animate-go  thickbox">

					<figure class="w3ls-gallery">
					 <img src="images/g.jpg" class="img-responsive" alt=" " />	<figcaption class="w3layouts-caption">
							<h3>my designs</h3>
							
						</figcaption>
					</figure>
				</a>
                </div>
                <div class=" filtr-item" data-category="2, 3" data-sort="Peaceful lake">
                    <a href="images/f.jpg" class="b-link-stripe b-animate-go  thickbox">

					<figure class="w3ls-gallery">
					 <img src="images/f.jpg" class="img-responsive" alt=" " />	<figcaption class="w3layouts-caption">
							<h3>my designs</h3>
							
						</figcaption>
					</figure>
					</a>
                </div>
                 <div class="  filtr-item gallery-t" data-category="1, 3" data-sort="Busy streets">
				 <a href="images/b.jpg" class="b-link-stripe b-animate-go  thickbox">
	
					<figure class="w3ls-gallery">
					 <img src="images/b.jpg" class="img-responsive" alt=" " />	<figcaption class="w3layouts-caption">
							<h3>my designs</h3>
							
						</figcaption>
					</figure>
				</a>
                </div>
               <div class="clearfix"> </div>
	        </div>
		 </div>
<!-- //Portfolio -->
<!--Education-->
	<div id="edu" class="agile-edu">
		<div class="container">	
			<h3 class="w3l-heading">Education</h3>
			<% Education.all.each_with_index do |education, index| %>
				<div class="work-info"> 
					<div class="col-md-6 col-sm-6 col-xs-6 work-right work-right2"> 
					</div>
					<div class="col-md-6  col-sm-6 col-xs-6  work-left work-left2"> 
						<div class="col-md-6  col-sm-6 col-xs-6  work1">
							<h4><%=education.institution%></h4>
							<p>Umulkheir is too lazy to type things so she doesnt type at all. She is also really bad with time. She is also very fun to be with laudantium.</p></div>
						<div class="col-md-6  col-sm-6 col-xs-6  work2">
							<h5><%=education.institution_type%></h5>
							<span></span>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
<!--//Education-->
<div class="agile-border">
	<span></span>
</div>
<!-- work-experience-->
	<div id="exp" class="agile-edu exp">
		<div class="container">	
				<h3 class="w3l-heading">Experience</h3>
			<div class="work-info"> 
				<div class="col-md-6  col-sm-6 col-xs-6  work-right work-right2"> 
				</div>
				<div class="col-md-6  col-sm-6 col-xs-6  work-left work-left2"> 
					<div class="col-md-6  col-sm-6 col-xs-6  work1">
						<h4>Lorem ipsum</h4>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p></div>
					<div class="col-md-6  col-sm-6 col-xs-6 work2">
						<h5> Company Name</h5>
						<span></span>
					</div>
				</div>
			</div>
			<div class="work-info"> 
				<div class="col-md-6  col-sm-6 col-xs-6 "> 
				</div>
				<div class="col-md-6  col-sm-6 col-xs-6 work-right"> 
					<div class="col-md-6 col-sm-6 col-xs-6 work2">
						<span></span>
						<h5>Company Name</h5>
					</div>	
					<div class="col-md-6  col-sm-6 col-xs-6 work-right1">
						<h4>Lorem ipsum</h4>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="work-2">
			<div class="work-info"> 
				<div class="col-md-6  col-sm-6 col-xs-6 work-right work-right2"> 
				</div>
				<div class="col-md-6  col-sm-6 col-xs-6  work-left work-left2 "> 
					<div class="col-md-6  col-sm-6 col-xs-6 work1">
						<h4>Lorem ipsum</h4>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p></div>
					<div class="col-md-6  col-sm-6 col-xs-6  work2">
						<h5> Company Name</h5>
						<span></span>
					</div>
				</div>
			</div>
			<div class="work-info"> 
				<div class="col-md-6  col-sm-6 col-xs-6 "> 
				</div>
				<div class="col-md-6  col-sm-6 col-xs-6 work-right"> 
					<div class="col-md-6  col-sm-6 col-xs-6 work2">
						<span></span>
						<h5>Company Name</h5>
					</div>	
					<div class="col-md-6  col-sm-6 col-xs-6 work-right1">
						<h4>Lorem ipsum</h4>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<span class="edu-circle"></span>
		</div>
	</div>
</div>
<!--//work-experience-->
<!-- contact -->
<div id="contact" class="w3_agileits-contact">
		<div class="container">	
				<h3 class="w3l-heading">contact</h3>
				<div class="w3_agile-contact  jarallax text-center">
					<form action="#" method="get">
						<input type="text" placeholder="Name" name="name" class="name" required>
						<input type="text" placeholder="Phone Number" name="phone" class="name" required>
						<input type="email" placeholder="Email" name="email" class="email" required>
						<textarea name="message" placeholder="Message"></textarea>
						<input type="submit" value="send">
					</form>
					<h4>or</h4>
					<a href="mailto:info@example.com">info@example.com</a>
					<h5>+12 345 6789</h5>
					<ul class="social-icons-w3_agile">
						<li><a href="#" class="fa fa-facebook icon icon-border facebook"> </a></li>
						<li><a href="#" class="fa fa-twitter icon icon-border twitter"> </a></li>
						<li><a href="#" class="fa fa-google-plus icon icon-border googleplus"> </a></li>
					</ul>
				</div>
		</div>	
</div>	