<div class='container content'>
  <div class='row'>
    <div class='col-md-12'>
      <p id="notice"><%= notice %></p>
<h1>Editing Education</h1>

<%= render 'form', education: @education %>

<%= link_to 'Show', @education %> |
<%= link_to 'Back', educations_path %>
</div>
	</div>
		</div>
