<div class='container content'>
  <div class='row'>
    <div class='col-md-12'>
      <p id="notice"><%= notice %></p>

			<h1>New Education</h1>

			<%= render 'form', education: @education %>
		</div>
	</div>
</div>


